################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/csharp/problem-solving/.vs/
/csharp/problem-solving/problem-solving/obj
/csharp/problem-solving/problem-solving/bin/
/csharp/problem-solving/ProblemSolving.Tests/bin/
/csharp/problem-solving/ProblemSolving.Tests/obj
/csharp/problem-solving/ProblemSolving.ConsoleApp
